<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  
   <%= @team.name %>
  
</p>

<p>
  <strong>Mascot:</strong>
  <%= @team.mascot %>
</p>


<p>
  <h3><strong>Colors:</strong></h3>
  <%= @team.colors %>
</p>

<div class="container">
    <p>
      <strong>Player List:</strong>
      <ol>
        <% @team.players.each do |player| %>
          <li>Name: <%= player.name %> || Age: <%= player.age %> || Position: <%= player.position %></li>
        <% end %>
      </ol>
    </p>
</div>

<p>
  <strong>Fixtures:</strong>
  <ul>
    <% @team.fixtures.each do |fixture| %>
      <li> vs. <%= fixture.opponent %>, <%= fixture_date fixture %> @ <%= fixture_time fixture %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>In League(s):</strong>
  <ol>
    <% @team.leagues.each do |league| %>
      <li><%= league.name %></li>
    <% end %>
  </ol>
</p>

<p>
  <strong>Sponsored By:</strong>
    <% @team.sponsors.each do |sponsor| %>
      <%= sponsor.name %>
    <% end %>
</p>

<% if @team.user_id == current_user.id %>
  <%= link_to 'New Fixture', new_fixture_path, class: "btn btn-default" %> |
  <%= link_to 'New Team Player', new_team_player_path(@team), class: "btn btn-default" %> |
  <%= link_to 'Edit Team', edit_team_path(@team), class: "btn btn-default" %> |
<% end %>
<%= link_to 'Back to Teams Index', teams_path, class: "btn btn-default" %>
